{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}

<div class="container-fluid userlog-image" style="background-image:url('https://res.cloudinary.com/dglcwfgzw/image/upload/v1678303325/vegetables-790022_960_720_jizvfv.jpg') ;">
  <div class="row">
      <div class="col col-title text-center">
              <h2 class="title">{% trans "Logout" %}</h2>
              <br>
              <p class="display-6">{% trans 'Are you sure you want to sign out?' %}</p>
              <br>
              <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button class="btn btn-warning right" type="submit">{% trans 'Logout' %}</button>
              </form>
      </div>
  </div>
</div>


{% endblock %}