{% extends "base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="container-fluid userlog-image" style="background-image:url('https://res.cloudinary.com/dglcwfgzw/image/upload/v1678303325/vegetables-790022_960_720_jizvfv.jpg') ;">
  <div class="row">
    <div class="col col-title text-center">
      <h2 class="title">{% trans "Register" %}</h2>
      <br>
      <p class="display-6">{% blocktrans %}Already have an account? Then please <a class="link text-white" href="{{ login_url }}">sign in</a>.{% endblocktrans %}</p>
      <br>
      <form class="signup register-text text-white" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-warning  text-center register-button" type="submit">{% trans "Register" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>  
    

{% endblock %}



