
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Oswald&display=swap');

body {
    background-color: white;
    
}

/* navbar */
.navbar {
    background-color: #A43F2D !important;
    color: #fff !important;
   
}

.nav-item a {
    color: white !important;
}

.nav-item a:hover {
    color:  #445261 !important;
}

#recipe-btn {
    color:  #445261 !important;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #A43F2D;
}

.main-bg {
    background-color: white;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #A43F2D;
}

.author {
    color: white;
    margin: 4px;
    
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 40vh;
    width: 100%;
}

.masthead-text {
    background-color: #445261;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #445261;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color:  #445261;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #A43F2D;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #A43F2D;
}

.link {
    color: #A43F2D;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

/* Hero image */
.hero-image{
    background: no-repeat center center fixed;
    background-size: cover;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* Welcome title */
.col-title{
    padding: 40px 50px;
    
    background-color: rgb(73 69 65 / 55%);
    border-radius: 20px;   
}

.title{
    font-size: 50px;
    font-family: 'Lobster', sans-serif;
    color:white;
}

.display-6 {
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding-top: 1%;
    color: white;
}

#latest-recipes{
    margin: 3% 2% 1% 2%; 
}


/* about page */
.about-image{
    background: no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.col-about-title{
    padding: 50px;  
    background-color: rgb(73 69 65 / 55%);
    border-radius: 20px;   
    margin: 10%;
}


#low-fodmap{
    padding: 50px;  
    background-color: rgb(39, 164, 76);
    border-radius: 20px;   
    margin: 0% 10% 0% 10%;
    color: white;
}

#high-fodmap{
    padding: 50px;  
    background-color: rgb(217, 68, 68);
    border-radius: 20px;   
    margin: 0% 10% 0% 10%;
    color: white;
}

#foodmap-foods{
    font-family: 'Lobster', sans-serif;
    padding: 0;
}

.foods{
    font-family: 'Oswald', sans-serif;
    padding: 1% 0 0 0;
}




