{% extends "base.html" %}

{% block content %}

<section >
    <div class="container-fluid about-image" style="background-image:url('https://res.cloudinary.com/dglcwfgzw/image/upload/v1678303325/vegetables-790022_960_720_jizvfv.jpg') ;">
        <div class="row">
            <div class="col col-about-title text-center">
                    <h1 class="text-center title"> About Fodmap</h1>
                    <br>
                    <p class="display-6">FODMAP is an acronym for a certain class of carbohydrates, called fermentable short-chain carbohydrates, which are more difficult for people to digest. (The full acronym stands for Fermentable Oligosaccharides, Disaccharides, Monosaccharides and Polyols.) The low-FODMAP diet temporarily restricts these carbohydrates in order to relieve uncomfortable symptoms and give your digestive system a rest. Removing irritants gives your gut lining a chance to repair itself and can help restore a healthy balance of gut flora. If your symptoms improve, you can use the low-FODMAP diet to figure out which foods to limit in the future.</p>                   
                    <br>
                    <p class="display-6">What are Fodmaps?</p>
                    <p class="display-6"><strong>Fermentable:</strong> These are all foods that your gut bacteria feed on, converting them to gasses in a chemical process called fermentation.</p>
                    <p class="display-6"><strong>Oligosaccharides:</strong> These are soluble plant fibers known as prebiotics, which feed the beneficial bacteria in your gut. Oligosaccharides include onions, garlic, beans/lentils and many wheat products. Sensitivity to oligosaccharides may help explain some cases of non-celiac gluten sensitivity. Since gluten-free grains are lower in fermentable sugars than grains that have gluten, some people who think they are sensitive to gluten may actually be sensitive to the oligosaccharides residing in wheat products.</p>
                    <p class="display-6"><strong>Disaccharides:</strong> Lactose is the fermentable sugar in this group, the sugar in dairy and human milk. Lactose intolerance is one of the most common food intolerances worldwide.</p>
                    <p class="display-6"><strong>Monosaccharides:</strong>Fructose, the sugar in fruit, is the fermentable sugar in this group. But only in certain quantities and proportions, so not all fruits are affected.</p>
                    <p class="display-6"><strong>Polyols:</strong> These are sugar alcohols, commonly used as artificial sweeteners. They are also found naturally in some fruits.</p>
            </div>
        </div>   
</section>                  

<div class="container-fluid">
    <div id="low-fodmap">
        <h3 id="foodmap-foods">Low Fodmap foods (choose):</h3>
        <h5 class="foods">Fruits:</h5> 
        <h6>Kiwi</h6>   
        <h5 class="foods">Grains:</h5>  
        <h6></h6>
        <h5 class="foods">Vegetables:</h5>  
        <h6></h6>
        <h5 class="foods">Dairy:</h5>  
        <h6></h6>
        <h5 class="foods">Legumes:</h5>  
        <h6></h6>
        <h5 class="foods">Nuts and seeds:</h5>  
        <h6>Peanuts</h6>
    </div>   

    <div id="high-fodmap">
        <h3 id="foodmap-foods">High Fodmap foods (exclude):</h3>
        <h5 class="foods">Fruits:</h5> 
        <h6>Apple</h6>   
        <h5 class="foods">Grains:</h5>  
        <h6></h6>
        <h5 class="foods">Vegetables:</h5>  
        <h6></h6>
        <h5 class="foods">Dairy:</h5>  
        <h6></h6>
        <h5 class="foods">Legumes:</h5>  
        <h6></h6>
        <h5 class="foods">Nuts and seeds:</h5>  
        <h6>Cashew nuts</h6>
    </div>   
</div>

{%endblock%}