{% extends "base.html" %}

{% block content %}

{% load static %}

{% load cloudinary %}

{% load crispy_forms_tags%}

{% if user.is_authenticated %}

<!-- TITLE -->
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <h2 class="recipe-title text-center">Add Recipe</h2>
            <hr>
        </div>
    </div>
</div>


<!-- RECIPE FORM -->
<div class="container">
    <div class="row">
        <div class="col-10 mt-3 offset-1 g-0 text-center">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ recipe_form|crispy}}
                <br>
                <a href="/" class="btn btn-primary left mb-2" style="margin-right:20px;"><i class="fas fa-arrow-left ml-3"></i> Back</a>
                <button class="btn btn-success right mb-2" type="submit" >Add recipe <i class="fas fa-edit ml-3"></i></button>
            </form>
        </div>
    </div>
</div>
 


{% endif %}


{%endblock%}