{% extends "base.html" %}
{% block content %}
{% load static %}
<!-- title -->
<div class="container">
   <div class="row">
      <div class="col-8 offset-2 text-center mt-5">
         <h2 class="recipe-title">Edit comment</h2>
         <hr>
      </div>
   </div>

   <!-- edit comment form -->
   <div class="row">
      <div class="col-8 mt-3 offset-2 text-center">
         <form method="post" enctype="multipart/form-data" action="{% url 'edit_comment' comment.pk %}">
            {% csrf_token %}
            {{ form.as_p}}
            <a href="{% url 'recipe_details' comment.post.slug %}" class="btn btn-primary left mb-2"><i class="fas fa-arrow-left ml-3"></i> Back</a>
            <button class="btn btn-success right mb-2" type="submit" >Edit Comment  <i class="fas fa-edit ml-3"></i></button>
         </form>
      </div>
   </div>
</div>
{%endblock%}