{% extends "base.html" %}
{% block content %}
{% load static %}
{% if user.is_authenticated %}
<div class="container">
   <div class="row">
      <div class="col-12 text-center mt-5">
         <h2 class="recipe-title">My Recipes</h2>
         <hr>
      </div>
      <div class="col-12 text-center mt-2">
         <a href="{% url 'add_recipe' %}"><button class="btn-lg btn-warning mb-2" >Add Recipe  <i class="fas fa-edit ml-3"></i></button></a>
      </div>
   </div>
</div>

<div class="container-fluid">
    <div class="row">

        <!-- Recipe Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
                {% for post in page_obj %}
                <div class="col-md-3">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.image.url %}
                                <img class="card-img-top"
                                    src="https://res.cloudinary.com/dglcwfgzw/image/upload/v1678303325/vegetables-790022_960_720_jizvfv.jpg">
                                {% else %}
                                <img class="card-img-top" src=" {{ post.image.url }}">
                                {% endif %}
                                <div class="image-flash">
                                    <p class="author">Author: {{ post.author }}</p>
                                </div>
                            </div>
                            <a href="{% url 'recipe_detail' post.slug  %}" class="post-link">
                                <h2 class="card-title">{{ post.title }}</h2>
                                <p class="card-text">{{ post.excerpt }}</p>
                            </a>
                            <hr />
                            <p class="card-text text-muted h6">{{ post.published_on}} <i class="far fa-heart"></i>
                                {{ post.number_of_likes }}
                        
                       
                            <a href="{% url 'edit_recipe' post.id %}"><button class="btn-sm btn-success edit-buttons">Edit</button></a>
                            <a href="{% url 'delete_recipe' post.id %}"><button class="btn-sm btn-danger delete-buttons">Delete</button></a>   
                            
                             </p>   
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
 

{% endif %}
{%endblock%}